<ion-header>
  <ion-navbar color="login-green">
    <ion-title>
      Gmaps Autocomplete
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item no-lines (click)="showModal()">
      <ion-searchbar tappable color="primary" id="autocomplete" type="text" name="title" #searchbar [(ngModel)]="userAddress" placeholder="Please enter address..."></ion-searchbar>
    </ion-item>
    <ion-item no-lines >
      <agm-map [streetViewControl]="false" [disableDefaultUI]="true" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="styles">
        <agm-marker *ngFor="let m of galleries" [iconUrl]="{
    url: './assets/icon/blue-pin.png',
    size: {width: 35, height: 53},
    scaledSize: {width: 35, height: 53 }
    }" [latitude]="m.location.latitude" [longitude]="m.location.longitude"></agm-marker>
      </agm-map>
    </ion-item>
    <ion-label *ngIf="addressDetails">Output: </ion-label>
    <ion-item text-wrap *ngIf="addressDetails">
      <pre >{{ addressDetails | json }}</pre>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let g of galleries" #item>

    <ion-item item-start>

      <h2 style="color: red">{{g.name}}</h2>
      <p>{{g.maxCapacity}}</p>
    </ion-item>

    <ion-card-content>
      <ion-item>
        <h2>{{g.location.address}}</h2>
        <p>{{g.description}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
